
body {
  margin: 0;
  overflow: hidden;
  background: black;
  color: white;
  font-family: Arial;
}

canvas {
  display: block;
}

.ui {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

button, input {
  margin: 5px;
}
